@import '../../../assets/scss/colors.scss';
@import '../../../assets/scss/grid.scss';

.single-item{
    max-width: 100%;
    border-radius: 5px;
    box-shadow: -1px 1px 2px 1px $lightGrey;
    width: 80%;
    margin: auto;
    padding: 15px;
    height: 100%;
    display: grid;
    margin-bottom: 20px;

    img{
        width: 50%;
        margin: auto;
    }

    .units{
        color: $mediumGrey;
        img{
            width: 12px;
        }
    }

    h3{
        font-size: 18px;
    }

    p{
        font-size: 16px;
    }

    small{
        font-size: 14px;
        color: $green;
    }

    a{
        color: $blue;
        font-weight: 600;
        margin-bottom: 15px;
        display: block;
    }

    .count-section{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .submit-button{
        background: transparent;
        border: 1px solid $blue;
        border-radius: 5px;
        color: $blue;
        font-weight: 600;
        width: 35%;
        padding: 8px;
        cursor: pointer;
    }

    .add-sub-button{
        background: transparent;
        border: 1px solid #1a73e8;
        border-radius: 50%;
        padding: 4px 10px;
        color: #1a73e8;
        font-size: 20px;
        cursor: pointer;
        height: 30px;
        background-position: center;
        background-size: 7px;
        background-repeat: no-repeat;
        width: 30px;

        &.plus{
            background-image: url('../../../assets/images/plus.svg');
        }

        &.minus{
            background-image: url('../../../assets/images/minus.svg');
        }

    }

    input{
        width: 26px;
        border: 1px solid #ccc;
        text-align: center;
        padding: 7px;
        margin: 0 10px;
        border-radius: 5px;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    input[type=number] {
        -moz-appearance: textfield;
    }
}